
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   

    <link href="~/App_Start/Style/Home/HomeIndex.css" rel="stylesheet" />
</head>
<body style="background-image: url('../../app_start/style/images/bodybackground.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; ">
    <div class="container">
        <a href="/Uyeler/Index">
            <div class="yapi">
                <i class="fa-regular fa-user"></i>
                <h3>Üye İşlemleri</h3>
            </div>
        </a>
        <a href="/Islemler/Index">
            <div class="yapi">
                <i class="fa-solid fa-hand-holding-hand"></i>
                <h3>Ödünç İade</h3>
            </div>
        </a>
        <a href="/Kitaplar/Index/">

            <div class="yapi">
                <i class="fa-solid fa-book"></i>
                <h3>Kitap İşlemleri</h3>
            </div>
        </a>
    </div>
</body>
</html>
